fastapi
uvicorn
pydantic
email-validator
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pandas
pyarrow
numpy
scipy
requests
psutil
python-dotenv
ta
annotated-doc
black
pytokens
typing-inspection
annotated-types
sse-starlette
openpyxl
reportlab
firebase-admin
joblib
lightgbm
scikit-learn
shap
matplotlib
vaderSentiment
feedparser
apscheduler
pytest
httpx
